.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border-radius: 1rem;
    border: 1px solid #FFF;
    transition: 0.5s;
}

.acordeon.open,
.acordeon:hover{
    background-color: #5700bb;
    border-color: #5700bb;
}

.acordeon .trigger{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: #FFF;
}

.acordeon.open .trigger::after{
    transform: rotate(180deg) translateY(10px);
    transition: .25s;
}

.acordeon .trigger::after{
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/arrow.svg');
    margin-top: .7rem;
    transition: .25s;
}

.acordeon .trigger:hover{
    cursor:pointer;
}

.acordeon .content{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .content{
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}